<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>springfileupload</display-name>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/conf/webApplicationContext.xml</param-value>
  </context-param>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
    <!-- Spring DispatcherServlet -->
   <servlet>
     <servlet-name>dispatcherServlet</servlet-name>
     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
     <init-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>/WEB-INF/conf/servletContext.xml</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
     <!-- IMPORTANT: enable Servlet 3.0 multipart (Part) -->
     <multipart-config>
       <!-- location is optional; Spring will write to temp if not set -->
       <max-file-size>104857600</max-file-size> <!-- 10MB each -->
       <max-request-size>524288000</max-request-size> <!-- 50MB total -->
       <file-size-threshold>0</file-size-threshold>
     </multipart-config>
   </servlet>

   <servlet-mapping>
     <servlet-name>dispatcherServlet</servlet-name>
     <url-pattern>/</url-pattern>
   </servlet-mapping>
  
</web-app>